<div class="modal-header">
  <h4 class="modal-title">{{ loc.get(24, "Change password") }}</h4>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="changepwform" (ngSubmit)="onPwChange()">
    <div class="mb-3">
      <label for="currentPassword">{{ loc.get(29, "Current password") }}</label>
      <input
        id="currentPassword"
        type="password"
        formControlName="currentPassword"
        class="form-control"
      />
      <div
        *ngIf="
          currentPasswordController.invalid &&
          (currentPasswordController.dirty || currentPasswordController.touched)
        "
        class="text-danger"
      >
        <div *ngIf="currentPasswordController.errors?.['required']">
          {{ loc.get(7, "Password is required.") }}
        </div>
        <div *ngIf="currentPasswordController.errors?.['minlength']">
          {{
            loc
              .get(32, "Password must be at least {number} characters.")
              .replace("{number}", "6")
          }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="password">{{ loc.get(30, "New password") }}</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form-control"
      />
      <div
        *ngIf="
          passwordController.invalid &&
          (passwordController.dirty || passwordController.touched)
        "
        class="text-danger"
      >
        <div *ngIf="passwordController.errors?.['required']">
          {{ loc.get(7, "Password is required.") }}
        </div>
        <div *ngIf="passwordController.errors?.['minlength']">
          {{
            loc
              .get(32, "Password must be at least {number} characters.")
              .replace("{number}", "6")
          }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword">{{ loc.get(31, "Confirm password") }}</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        class="form-control"
      />
      <div
        *ngIf="
          confirmPasswordController.invalid &&
          (confirmPasswordController.dirty || confirmPasswordController.touched)
        "
        class="text-danger"
      >
        <div *ngIf="confirmPasswordController.errors?.['required']">
          {{ loc.get(33, "Confirmation is required.") }}
        </div>
      </div>
    </div>

    <div *ngIf="changepwform.errors?.['passwordMismatch']" class="text-danger">
      {{ loc.get(15, "different passwords") }}
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="onPwChange()">
    {{ loc.get(24, "Change password") }}
  </button>
</div>
