<div class="modal-header">
  <h4 class="modal-title">{{ loc.get(49, "Filter") }}</h4>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label class="form-label">{{ loc.get(50, "Search by name") }}</label>
    <input
      #nameSearch
      class="form-control"
      [formControl]="searchNameController"
      placeholder="pl. 'Anna'"
    />
  </div>
  <ngb-alert
    *ngIf="alertMessage"
    [type]="alertType"
    (closed)="alertMessage = null"
  >
    {{ alertMessage }}
  </ngb-alert>
  <div>
    <button (click)="searchName()" class="btn btn-primary">
      {{ loc.get(51, "Search") }}
    </button>
  </div>
</div>

<div class="modal-body">
  <h4>{{ loc.get(52, "Gender") }}</h4>
  <div class="d-flex gap-4 align-items-center">
    <div class="form-check form-switch m-0">
      <input
        type="checkbox"
        id="maleCheck"
        class="form-check-input"
        [checked]="genderController.value !== 'F'"
        (click)="toggleGender('F')"
      />
      <label class="form-check-label ms-2" for="maleCheck">
        {{ loc.get(54, "boy") }}
      </label>
    </div>

    <div class="form-check form-switch m-0">
      <input
        type="checkbox"
        id="femaleCheck"
        class="form-check-input"
        [checked]="genderController.value !== 'M'"
        (click)="toggleGender('M')"
      />
      <label class="form-check-label ms-2" for="femaleCheck">
        {{ loc.get(55, "girl") }}
      </label>
    </div>
  </div>
</div>

<div class="modal-body">
  <h4>{{ loc.get(58, "Initial letter") }}</h4>
  <div class="d-flex flex-wrap gap-2">
    <button
      *ngFor="let letter of letters"
      type="button"
      class="btn btn-outline-primary"
      [class.active]="charController.value === letter"
      (click)="toggleStartChar(letter)"
    >
      {{ letter }}
    </button>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="onClose()">
    {{ loc.get(59, "Reload names") }}
  </button>
</div>
