<body>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="email">
      <label for="emailController">{{ loc.get(5, "Email") }}</label>
      <input
        id="emailController"
        type="text"
        [formControl]="emailController"
        class="form-control form-control-sm"
      />
      <div
        *ngIf="
          emailController?.invalid &&
          (emailController?.touched || emailController?.dirty)
        "
        style="color: red"
      >
        <div *ngIf="emailController?.errors?.['required']">
          {{ loc.get(10, "Email is required.") }}
        </div>
        <div *ngIf="emailController?.errors?.['minlength']">
          {{ loc.get(4, "At least 3 characters are required") }}
        </div>
      </div>
    </div>

    <div class="password">
      <label for="password"> {{ loc.get(6, "Password") }}</label>
      <input
        id="password"
        type="password"
        [formControl]="this.passwordController"
        class="form-control form-control-sm"
      />
      <div
        *ngIf="
          passwordController?.invalid &&
          (passwordController?.touched || passwordController?.dirty)
        "
        style="color: red"
      >
        <div *ngIf="passwordController?.errors?.['required']">
          {{ loc.get(7, "Password is required.") }}
        </div>
        <div *ngIf="passwordController?.errors?.['minlength']">
          {{ loc.get(8, "At least 6 characters are required.") }}
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      {{ loc.get(1, "Login") }}
    </button>
  </form>
</body>
