<body>
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="email">
      <label for="emailController">Email</label>
      <input
        id="emailController"
        type="text"
        [formControl]="emailController"
        class="form-control form-control-sm"
      />
      <div
        *ngIf="
          emailController?.invalid &&
          (emailController?.touched || emailController?.dirty)
        "
        style="color: red"
      >
        <div *ngIf="emailController?.errors?.['required']">
          Felhasználónév megadása kötelező.
        </div>
        <div *ngIf="emailController?.errors?.['minlength']">
          Legalább 3 karakter kell.
        </div>
      </div>
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        [formControl]="this.passwordController"
        class="form-control form-control-sm"
      />
      <div
        *ngIf="
          passwordController?.invalid &&
          (passwordController?.touched || passwordController?.dirty)
        "
        style="color: red"
      >
        <div *ngIf="passwordController?.errors?.['required']">
          Jelszó megadása kötelező.
        </div>
        <div *ngIf="passwordController?.errors?.['minlength']">
          Legalább 6 karakter kell.
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Bejelentkezés
    </button>
  </form>
</body>
