<nav class="navbar bg-light px-3 mb-3">
  <span class="navbar-brand"></span>

  <ul class="nav nav-pills ms-auto">
    <li class="nav-item" *ngIf="!auth.isLoggedIn">
      <button class="btn btn-outline-primary" (click)="openLoginModal()">
        {{ loc.get(1, "Login") }}
      </button>
    </li>
    <li class="nav-item d-flex gap-2" *ngIf="auth.isLoggedIn">
      <button class="btn btn-outline-primary" (click)="openUserSettingsModal()">
        {{ auth.username }}
      </button>
      <button class="btn btn-outline-danger" (click)="onLogout()">
        {{ loc.get(2, "Logout") }}
      </button>
    </li>
  </ul>
</nav>
