<div class="modal-header">
  <h4 class="modal-title">{{ loc.get(21, "User settings") }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Bezárás"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <div class="mb-3">
    <ng-container *ngIf="!partnerName; else templateName">
      <button class="btn btn-primary" (click)="openUserPartnerModal()">
        {{ loc.get(1088, "Add Partner") }}
      </button>
    </ng-container>

    <ng-template #templateName>
      <p *ngIf="partnerName">
        {{ loc.get(18, "Your partner's username") }}: {{ partnerName }}
      </p>
      <button
        *ngIf="partnerName"
        class="btn btn-primary"
        (click)="openUserPartnerModal()"
      >
        {{ loc.get(1087, "Change Partner") }}
      </button>
    </ng-template>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openChangePasswordModal()">
      {{ loc.get(24, "Change password") }}
    </button>
  </div>
  <div class="d-flex gap-2">
    <div class="mb-3">
      <button
        class="btn btn-outline-primary"
        (click)="openSelectedNamesModal()"
      >
        {{ loc.get(34, "Selected names") }}
      </button>
    </div>
    <div class="mb-3">
      <button class="btn btn-outline-success" (click)="openMatchedNamesModal()">
        {{ loc.get(36, "Matched names") }}
      </button>
    </div>

    <div class="mb-3">
      <button class="btn btn-outline-danger" (click)="openThrowedNamesModal()">
        {{ loc.get(35, "Throwed names") }}
      </button>
    </div>
  </div>

  <form [formGroup]="settingsForm">
    <div class="mb-3">
      <label>{{ loc.get(22, "Name") }}</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="mb-3">
      <label>{{ loc.get(12, "The child family name.") }}</label>
      <input type="text" class="form-control" formControlName="familyName" />
    </div>
  </form>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="close()">
      {{ loc.get(26, "Cancel") }}
    </button>
    <button class="btn btn-primary" (click)="save()">
      {{ loc.get(25, "Save") }}
    </button>
  </div>
</div>
