<div class="modal-header">
  <h4 class="modal-title">{{ loc.get(21, "User settings") }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Bezárás"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="settingsForm">
    <div class="mb-3">
      <label>{{ loc.get(22, "Name") }}</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="mb-3">
      <label>{{ loc.get(12, "The child family name.") }}</label>
      <input type="text" class="form-control" formControlName="familyName" />
    </div>
  </form>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openChangePasswordModal()">
      {{ loc.get(24, "Change password") }}
    </button>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openSelectedNamesModal()">
      {{ loc.get(34, "Selected names") }}
    </button>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openThrowedNamesModal()">
      {{ loc.get(35, "Throwed names") }}
    </button>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="close()">
      {{ loc.get(26, "Cancel") }}
    </button>
    <button class="btn btn-primary" (click)="save()">
      {{ loc.get(25, "Save") }}
    </button>
  </div>
</div>
