<div class="modal-header">
  <h4 class="modal-title">
    {{
      this.isThrowedNames
        ? loc.get(35, "Throwed names")
        : loc.get(34, "Selected names")
    }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Bezárás"
    (click)="close()"
  ></button>
</div>

<div class="px-3 pb-2 mb-3 mt-2">
  <input
    type="text"
    class="form-control"
    [formControl]="searchCtrl"
    [placeholder]="placeholder"
  />
</div>

<div class="name-grid">
  <app-namebuttons
    *ngFor="let item of filteredNames; let i = index"
    [name]="item?.name ? item?.name : ''"
    [familyName]="'Deák'"
    [gender]="item?.gender ? item?.gender : ''"
    (clicked)="onClick(item)"
  ></app-namebuttons>
</div>
