<div class="modal-header">
  <h4 class="modal-title">
    {{
      this.isThrowedNames
        ? loc.get(35, "Throwed names")
        : this.isMatchedNames
        ? loc.get(36, "Matched names")
        : loc.get(34, "Selected names")
    }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Bezárás"
    (click)="close()"
  ></button>
</div>

<div class="px-3 pb-2 mb-3 mt-2" *ngIf="names.length > 1">
  <input
    type="text"
    class="form-control"
    [formControl]="searchCtrl"
    [placeholder]="placeholder"
  />
</div>

<div class="name-grid">
  <app-namebuttons
    *ngFor="let item of filteredNames; let i = index"
    [name]="item?.name ? item?.name : ''"
    [familyName]="this.familyName"
    [gender]="item?.gender ? item?.gender : ''"
    (clicked)="onClick(item)"
  ></app-namebuttons>
</div>

<div
  class="px-3 pb-2 mb-3 mt-2"
  *ngIf="
    names.length === 0 &&
    !hasPair &&
    !this.isThrowedNames &&
    this.isMatchedNames
  "
>
  <h5>{{ loc.get(1089, "No name matched") }}</h5>
  <p>{{ loc.get(1090, "For common names, first respond to the partner.") }}</p>
</div>

<div
  class="px-3 pb-2 mb-3 mt-2"
  *ngIf="names.length === 0 && !this.isThrowedNames && !this.isMatchedNames"
>
  <h5>{{ loc.get(1091, "You have not selected a name") }}</h5>
  <p>{{ loc.get(1092, "Drag a name to the right to choose.") }}</p>
</div>

<div
  class="px-3 pb-2 mb-3 mt-2"
  *ngIf="names.length === 0 && this.isThrowedNames && !this.isMatchedNames"
>
  <h5>{{ loc.get(1093, "You have no discarded a name.") }}</h5>
  <p>{{ loc.get(1094, "Drag a name to the left to throw it away.") }}</p>
</div>
