<body>
  <app-top-menu></app-top-menu>

  <div class="scroll-container">
    <div class="scroll-content">
      <div
        class="draggable-wrapper"
        *ngFor="let item of names; let i = index"
        cdkDrag
        (cdkDragStarted)="onDragStart(i)"
        (cdkDragEnded)="onDragEnd(i)"
        (cdkDragMoved)="onDragMoved($event, i)"
        (cdkDragReleased)="onDragReleased($event, i)"
      >
        <app-name-card
          [name]="item?.name ? item?.name : ''"
          [familyName]="'Deák'"
          [gender]="item?.gender ? item?.gender : ''"
        ></app-name-card>
      </div>
    </div>
  </div>
</body>
